body {
    margin: 0;
    padding: 0;
}

.btn {
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.logo {
    width: 185px !important;
}

.hidden-l {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-2%);
    transition: all 1s;
}

.hidden-r {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(2%);
    transition: all 1s;

}

.hidden {
    opacity: 0;
    transition: all 4s;

}

.hidden-left-long {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden-l {
        transition: none;
    }

    .hidden-r {
        transition: none;
    }

    .hidden {
        transition: none;
    }
}



#first {
    margin-top: 150px;
    margin-bottom: 150px;
}

#first h4 {

    margin-left: 5rem;
    margin-right: 5rem;
    line-height: 200%;
    text-align: center;
}

#first h3 {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    line-height: 200%;
    text-align: center;
}

.carousel-caption {
    top: 1.5rem !important;
}

.carousel-caption>h1 {
    font-weight: 800;
    font-size: 3.5rem;
}




.carousel-caption>.btn {
    width: 200px;
    margin-top: 2rem;

}

#secound {
    margin-left: 10%;
    margin-right: 10%;
}

.first-logo {
    font-size: 3.5rem;
}



.tiremarks {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ending {
    text-align: center;
}

#ending h3 {
    margin-top: 50px;
    line-height: 200%;
}

#footer p {
    text-align: center;

}

.resources {
    font-size: 10px;
    font-style: italic;
}



.zoom{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.zoom img {
    transition-duration: 2s;
    margin: 0 auto;
    display: block;
   
  
  
}
.zoom img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    z-index: 0;
    
   
   
  
}
